@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Merriweather:wght@900&display=swap');

/************************general***************************/

body{
	background-color: black;
}
figcaption{
	color: mediumpurple;
	font-family: 'lexend deca'
}

h1,h2,h3{
	font-family: 'merriweather'
}
p{
	font-family: 'lexend deca'
}
a{
	font-family: 'lexend deca'
}
nav a{
	font-family: 'merriweather'
}
/******************Header********************/
header{
	background-color: #111111;
	max-width:1200px;
	color: antiquewhite;
	margin:0px auto;
	padding: 30px;
	overflow:hidden;
	text-align: center;
	
}
header p{
	text-align: left;
}
h1{
	font-size: 50px;
	color: goldenrod;
}

header div figcaption{
	margin-bottom: 20px;
	font-size: 40px;
	font-family: 'merriweather';
	text-align: center;
}

header div{
	width:33%;
	float: left;
	box-sizing: border-box;
	padding: 0px 10px;
	
}
header img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-bottom: 10px;
}


/*****************sections***********************/

section{
	max-width: 1200px;
	margin: 0px auto;
	background-color: #111111;
/*makes the outer section the full hieght of all the content*/
	overflow: hidden;
	padding: 30px;
	color: antiquewhite;
}
section div{
	width:33%;
	float:left;
	box-sizing: border-box;
	padding: 0px 10px;

}

h2{
	text-align: center;
	color: goldenrod;
}

h3{
	color: mediumpurple;
	
}

.alternate{
	background-color: #161616;
	
}

section img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	margin-bottom: 10px;
}

section figcaption{
	text-align: center;
}

section ul{
	font-family: 'lexend deca'
}

/******************footer********************/

footer{
	background-color: #111111;
	max-width:1200px;
	color: antiquewhite;
	margin:0px auto;
	padding: 30px;
	overflow:hidden;
	text-align: center;
	
}
footer p{
	font-size: 30px;
	color:goldenrod;
	font-family: 'merriweather'
}
/******************Quote Style***************************/
.quote{
	color: #665982;
	
}

#openquote{
	font-size: 25px;
	text-align: center;
}

#closingquote{
	font-size: 25px;
	text-align: center;
}
/************************Nav Bar******************************/

nav ul {
	list-style-type: none;
	overflow: hidden;
	background-color: #201522;
	max-width:1220px;
	margin:0px auto;
	text-align: center;
	font-size: 20px;
}

nav li {
	display: inline-block;
}

nav li a:link {
	display: block;
	color: antiquewhite;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:visited{
	color: antiquewhite;
	
}
nav li a:hover {
	background-color: mediumpurple;
	transition-duration: 0.4s;
	color: goldenrod;
}	

.stickybanana{
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	
}



/************styled links*****/

a:link{
	color:mediumblue;
	
}
a:visited{
	color: rebeccapurple;
}
a:hover{
	color:goldenrod;
	text-decoration:none;
}
a:active{
	color:antiquewhite;
}

	/**Instructure: "Now you have to put a banana in every project."**/
	
	/**Me: Puts banana in 'every' project.**/

	/**Instructure:**/
	
	/**###################################################################################################**/
	/**##########&&&%#####################################################################################**/
	/**###########&%%%%%,&#((((((#########################################################################**/
	/**##########&&&%%%&,,,,,,&#(((#######################################################################**/
	/**##############%%&,,,,,,,,,,,&######################################################################**/
	/**#########((((((&%,,,,,,,,,,,,,,,&%##############################################%%%%%%%%%%%%%%%%%&(**/
	/**########((((((((%&,,,,,,,,,,,,,,,,,,&###########################################%%%%%%%%%%%&*,,,,,,**/
	/**#######(((((((((((&,,,,,,,,,,,,,,,,,,,,&#########################################%%%%&%,,,,,,,,,,,,**/
	/**######((((((((((###%,,,,,,,,,,,,,,,,,,,,,,&#####################################&*,,,,,,,,,,,,,,,,,**/
	/**#####((((((((((#####%(,,,,,,,,,,,,,,,,,,,,,,*###########(#%%&&&&&&&&&&%####&,,,,,,,,,,,,,,,,,,,,,,,**/
	/**####((((((((((#####%%%%,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,**/
	/**#######((((#######%%%%%%&,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,**/
	/**#################%%%%%%%%%%,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,**/
	/**##%%%%%%%%%%%%%%%%%%%%%%%%%%%&,,,,%,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,(((**/
	/**#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%&,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,&,,,,&#((((**/
	/**%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%&,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,&####((((**/
	/**%%%%%%%%%&&%%%%%%%%%%%%%%%%%%&,,,,,,,,,,,,//,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,(*,,,,,,,,,,,,,,,,#######**/
	/**%%%%%&&&&&&&&&%%%%%%%%%%%%%#&,,,,,,,,,,*,  ,%%/,,,,,,,,,,,,,,,,,,,,,,,,&,  (%%,,,,,,,,,,,,,,,%#####**/
	/**%%%&&&&&&&&&&&%%%%%%%%%%###%,,,,,,,,,,,&%%%%%%&,,,,,,,,,,,,,,,,,,,,,,,,&%%%%%%#,,,,,,,,,,,,,,*#####**/
	/**%%&&&&&&&&&&&&&%%%%%%%%%###,,,,,,,,,,,,,%%%%%&,,,,,,,,,,,,,,,,,,,,,,,,,,&%%%%/,,,,,,,,,,,,,,,,&%%%%**/
	/**%&&&&&&&&&&&&&&&%%%%%%%###%,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,&%%%**/
	/**%%&&&&&&&&&&&&&%%%%%%%###%,,,,,,,,,,,,,,,,,,,,,,,,,,,,/&&&*,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,%%%**/
	/**%%%%%%%&%%%%%%%%%%%%#####/,*(((((((((,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,((((((((((,,,,,,,&##**/
	/**%%%%%%%%%%%%%%%%%########,*(((((((((((,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,((((((((((((,,,,,,,&#**/
	/**########################&,,((((((((((,,,,,,,,,,,,,,,,%%********%,,,,,,,,,,,,,,#(((((((((((,,,,,,,*#**/
	/**#############(##((((((((#,,,,,,**,,,,,,,,,,,,,,,,,,,%***********%,,,,,,,,,,,,,,,((((((((,,,,,,,,,,&**/
	/**####(((((((((((((((((((((&,,,,,,,,,,,,,,,,,,,,,,,,,,%***********%,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,**/
	/**##((((((((((((((((((((((((&,,,,,,,,,,,,,,,,,,,,,,,,,,,%%*******%,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,**/
	/**##(((((((((((((((((((((((((&,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,**/
	/**####(((((((((((((((((((((((##*,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,**/
	/**######(((((((((((((((((((#####&,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,**/
	/**##############################&,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,**/
	/**##############################*,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,**/





